.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: end;
  align-items: end;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.modal-content, .booking-flow-modal {
  border-radius: 12px 0 0 0;
  background: white;
  width: 90%;
  position: relative;
  animation: slideIn 0.3s ease-out;
  max-height: 80%;
  overflow-y: auto;
}
